* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Outfit", sans-serif;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 40px;
  margin-top: 3em;
}

.qrCode {
  padding: 0px 20px 0px 20px;
  text-align: center;
}

.qrCode img {
  width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 25px;
}

.topText {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  margin-top: 15px;
}

.bottomText {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  padding-bottom: 30px;
  margin-top: 15px;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .card {
    width: 50%;
    margin-top: 12em;
  }

  .topText {
    font-size: 12px;
  }

  .bottomText {
    font-size: 16px;
  }
}
